.git
.gitignore
node_modules
.next
# Fichiers d'environnement locaux (seront gérés par des variables d'environnement Docker)
.env
.env*.local
.env*.development
.env*.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dossiers de build locaux (si vous en avez d'autres)
dist
build
